
.dashboardWrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.dashboardContainer {
    padding-top: 36px;
    padding-left: 16px;
    padding-right: 6px;
    background-color: #f8f9fa;
    min-height: 100vh;
    margin-left: 240px;
    margin-top: 80px;
}

/* Header con titolo e bottone */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.dashboardTitle {
    font-size: 24px;
    font-weight: bold;
    color: black;
}

/* Layout della dashboard */
.dashboardGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 12px;
}

/* Sezioni */
.chartSection,
.expenseSummarySection{
    background: white;
    padding: 12px;
    border-radius: 6px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.08);
    border: 1px solid #ddd;
}
.recentExpensesSection {
    background: white;
    padding: 12px;
    border-radius: 6px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}
/*Responsive design*/
@media (max-width: 1024px) {
    .dashboardGrid{
        grid-template-columns: 1fr;
    }
    .recentExpensesSection{
        order: 3;
    }
}